language = "nodejs"
# run = "cd frontend-correctaexpresion && npm i"
# run = "cd frontend-correctaexpresion && npm start"
# run = "cd backend-correctaexpresion && npm i"
 run = "cd backend-correctaexpresion && npm run dev"